In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('dataa2.csv')

In [3]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,29,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,C

In [4]:
df1=df.copy()

In [5]:
df1=df1.drop(['PassengerId','Ticket','Name'],axis=1)

In [6]:
df1

     Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked
0           0       3    male   22      1      0   7.2500        S
1           1       1  female   38      1      0  71.2833        C
2           1       3  female   26      0      0   7.9250        S
3           1       1  female   35      1      0  53.1000        S
4           0       3    male   35      0      0   8.0500        S
..        ...     ...     ...  ...    ...    ...      ...      ...
886         0       2    male   27      0      0  13.0000        S
887         1       1  female   19      0      0  30.0000        S
888         0       3  female   29      1      2  23.4500        S
889         1       1    male   26      0      0  30.0000        C
890         0       3    male   32      0      0   7.7500        Q

[891 rows x 8 columns]

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    int64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 55.8+ KB

In [8]:
df1_dummy=pd.get_dummies(df1,columns=['Sex','Embarked'],drop_first=True)

In [9]:
df1_dummy

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22,1,0,7.2500,True,False,True
1,1,1,38,1,0,71.2833,False,False,False
2,1,3,26,0,0,7.9250,False,False,True
3,1,1,35,1,0,53.1000,False,False,True
4,0,3,35,0,0,8.0500,True,False,True
...,...,...,...,...,...,...,...,...,...
886,0,2,27,0,0,13.0000,True,False,True
887,1,1,19,0,0,30.0000,False,False,True
888,0,3,29,1,2,23.4500,False,False,True
889,1,1,26,0,0,30.0000,True,False,False
890,0,3,32,0,0,7.7500,True,True,False

In [10]:
df2=df1_dummy.copy()

In [11]:
X=df2.drop('Survived',axis=1)
y=df2['Survived']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler=StandardScaler()

In [16]:
model=LogisticRegression(random_state=42)

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [19]:
model.fit(X_train_scaled,y_train)

LogisticRegression(random_state=42)

In [20]:
model.predict(X_test_scaled)

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1], dtype=int64)

In [21]:
model.score(X_test_scaled,y_test)

0.8100558659217877

# KNN classifier

In [22]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
knn_classifier=KNeighborsClassifier()

In [24]:
knn_classifier.fit(X_train_scaled,y_train)

KNeighborsClassifier()

In [25]:
knn_classifier.score(X_test_scaled,y_test)

0.7988826815642458

# Support Vector Machine (SVM) Algorithm

In [26]:
from sklearn.svm import SVC

In [27]:
svc_model=SVC()

In [28]:
svc_model.fit(X_train_scaled,y_train)

SVC()

In [29]:
svc_model.score(X_test_scaled,y_test)

0.8212290502793296